@using POS.Model;
@model IEnumerable<POS.Model.MENU>


@{
    ViewBag.Title = "Mantenimeinto de Menus";
}

<h2>MtoMenu</h2>

<div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descipcion</th>
                <th scope="col">Activo</th>
                <th scope="col">@Html.ActionLink("Nuevo", "Nuevo",null, new { @class = "btn btn-primary" })</th>
            </tr>
        </thead>

        <tbody>
            @foreach (MENU m in @Model)
            {

            <tr scope="row">
                <td>@m.idMenu</td>
                <td>@m.pagina</td>
                <td>@m.descripcion</td>
                <td>@m.activo</td>
                <!--<td>@Html.ActionLink("Editar", "Editar", new { id = m.idMenu })</td>-->
            </tr>
            }
        </tbody>
    </table>
</div>
